ul{
    /* padding-left: 5px; */
    list-style-type: none;
}

.item{
    border: 1px solid red;
    /* list-style-type: georgian; */
    /* list-style-position: inside; */
    /* list-style-type: "👍"; */
    /* list-style-image: url(./img/locaiton.png); */

    /* list-style: circle outside; */
    

}

li::before{
    /* content: "\2764";
    color: rgb(255, 79, 79);
    padding-left: 10px;  */

}



ol{
    list-style-type: none;
    margin: 15px;
    padding: 25px;
    cursor: pointer;
}