.box1{
    /* background-color: tomato; */
    background-color: #ff0000;
}
.box2{
    /* background-color: limegreen; */
    background-color: #00ff00;
}
.box3{
    /* background-color: coral; */
    background-color: #242424;
}
.box4{
    /* background-color: red; */
    background-color: #a0f4ca;
}
.box5{
    background-color: olive;
}